.place__title {
  color: #FFFFFF;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    margin-left: 16px;
    width: calc(100% - 16px);
  }
}
